.TyC {
  font-family: "Open Sans";
  max-width: 1200px;
  width: 100%;
  color: #878787;

  .titulo1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }
  .tituloPrimario {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    margin-top: 40px;
  }
  .tituloSecundario {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
  }
  .textoRegular {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
  .returnLink {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 150px;
    margin-top: 24px;
    p {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #424143;
    }
    img {
      height: 7.94px;
      width: 4.24px;
      margin-right: 10px;
    }
  }
}

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 0px 16px;
  img {
    @include screen_705 {
      width: 280px;
    }
  }
  .error {
    margin-top: 24px;
    @include screen_705 {
      width: 140px;
    }
  }
  .p1 {
    margin-top: 24px;
    color: #969696;
  }
  .p2 {
    margin-top: -20px;
    color: #424143;
  }
  .span {
    color: #443988;
    text-decoration: underline;
    cursor: pointer;
  }
  .button {
    padding: 10px 36px;
    gap: 10px;
    background: #443988;
    border: 1px solid #443988;
    box-shadow: 0px 0px 6px rgba(66, 65, 67, 0.1);
    border-radius: 20px;
    color: white;
    margin-bottom: 40px;
    &:hover {
      background: #655aa8;
    }
  }
}
