.misOfertasContainer{
    margin-top: 40px;
    .container{
        .title{
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 31px;
            color: #443988;
        }
        .cardsContainer{
            min-width: 895px;
            max-width: 895px;
            .card{
                width: 100%;
                height: 150px;
                background: #FDFEFF;
                box-shadow: -10px -10px 30px rgba(223, 229, 239, 0.25), 10px 10px 30px rgba(223, 229, 239, 0.25);
                border-radius: 6px;
                margin-bottom: 24px;
            }
        }
        .volver{
            font-family: $fontFamily;
            font-weight: 600;
            font-size: 12px;
            color: #424143;
            display: flex;
            align-items: center;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 80px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}