.gridContainer{
    padding: 0px 74px;
    margin: 24px 0px;
    @include screen_768{
        padding: 0px 32px;
    }
    @include screen_601{
        padding: 0px 16px;
    }
    .contenedorCarritoResumen{
        width: 100%;
        min-height: 8.7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $fontFamily;
        font-weight: 600;
        margin-top: 16px;
        background-color: #FDFEFF;
        box-shadow: -10px -10px 30px rgba(223, 229, 239, 0.25), 10px 10px 30px rgba(223, 229, 239, 0.25);
        border-radius: 6px;
        position: relative;
        @include screen_1001{
            margin-top: 24px;
        }
        @include screen_601{
            min-width: 280px;
            width: 90%;
            margin: 16px auto;
        }
        .fotoTitle{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;
        }
        .preciosDelete{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 15.5vw;
            margin-right: 2.9vw;
            @include screen_1001{
                width: 212px;
            }
            @include screen_601{
                display: none;
            }
        }
        .preciosDeleteMobile{
            display: none;
            @include screen_601{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .fotoProd{
            min-width: 5vw;
            height: 5vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 1.7vw 2.3vw;
            @include screen_1001{
                min-width: 71px;
                height: 71px;
            }
        }
        .titleDescription{
            flex-grow: 1;
            max-width: 27.5vw;
            color: $colorGrisaseo;
            margin: 19px 0px;
            font-size: 1.15vw;
            padding-right: 10.4vw;
            font-size: 1.1vw;
            @include screen_1001{
                max-width: 374px;
                margin: 10px 0px;
            }
            @include screen_768{
                font-size: 1.9vw;
            }
            @include screen_601{
                font-size: 13px;
                max-width: none;
                min-width: 170px;
            }
            h3{
                color: #423B3C;
                overflow-y: hidden;
                @include screen_1001{
                    min-height: 60px;
                    max-height: 60px;
                }
                @include screen_768{
                    min-height: 70px;
                    max-height: 70px;
                }
            }
            .description{
                color: #878787;
            }
        }
        .precioDesc{
            color: #969696;
            font-size: 1vw;
            margin-right: 22px;
            text-align: center;
            white-space: nowrap;
            min-width: 5.2vw;
            @include screen_1001{
                min-width: 52px;
                font-size: 14px;
            }
        }
        .precioProd{
            font-size: 1.2vw;
            color: #423B3C;
            margin-right: 22px;
            text-align: center;
            white-space: nowrap;
            min-width: 5.2vw;
            @include screen_1001{
                min-width: 52px;
                font-size: 17px;
            }
        }
        .botonBorrar{
            @include screen_768{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .carritoVolver{
        font-family: $fontFamily;
        font-weight: 600;
        font-size: 12px;
        color: #424143;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        &:hover{
            transform: scale(1.1);
        }
        @include screen_1001{
            margin: 32px 0px 64px;
        }
    }
    .cartVacio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .seguirComprando{
            border: 1px solid #443988;
            filter: drop-shadow(0px 0px 6px rgba(66, 65, 67, 0.1));
            border-radius: 20px;
            padding: 8px 32px;
            button{
                padding: 0px !important;
            }
        }
    }
}
.cartElimianrPopUp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    .fondoPopUp{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.3);
        z-index: 9999;
    }
    .popUp{
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 16px;
        margin-top: 127px;
        z-index: 99999;
        
        p{
            font-size: 15px;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 24px;
            padding: 0px 24px;
        }
        .cancelar{
            background: #FFFFFF;
            border-radius: 8px;
            padding: 0px 69px;
            color: #FF3F20;
            font-size: 13px;
            border: 1px solid #FF3F20;
            margin-right: 8px;
            margin-left: 24px;
            @include screen_506{
                margin: 8px 24px;
                margin-top: 0px;
            }
        }
        .eliminar{
            background: #FF3F20;
            border-radius: 8px;
            font-size: 13px;
            padding: 0px 69px;
            color: #FFFFFF;
            margin-left: 8px;
            margin-right: 24px;
            @include screen_506{
                margin: 8px 24px;
                margin-bottom: 0px;
            }
        }
    }
}