.calificacionesContainer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  margin-bottom: 60px;
  .breadcrumbs {
    margin-top: 72px;
    margin-left: 72px;
  }
  .tiendaGrid {
    @include screen_1450 {
      display: flex;
      justify-content: center;
    }
    .container {
      max-width: 1366px;
      width: 100%;
      padding: 0 72px;
      .calificacionesSections {
        margin-top: 50px;
        .firstLine {
          display: flex;
          justify-content: space-between;
          max-width: 895px;
          width: 100%;
          .title {
            font-weight: 700;
            font-size: 23px;
            line-height: 31px;
            color: #443988;
            margin: 0;
            @include screen_705 {
              font-size: 16px;
              line-height: 22px;
              width: 100%;
              max-width: 370px;
            }
          }
          button {
            max-width: 226px;
            width: 100%;
            height: 36px;
            background: #443988;
            box-shadow: 0px 0px 6px rgba(66, 65, 67, 0.1);
            border-radius: 20px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            border: 0;
            cursor: pointer;
          }
        }
        .calificacionesList {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 16px;
          width: 100%;
          margin-top: 24px;
          @include screen_820 {
            justify-content: center;
          }
          .desktopCard {
            max-width: 895px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: #fdfeff;
            box-shadow: -10px -10px 30px rgba(223, 229, 239, 0.25),
              10px 10px 30px rgba(223, 229, 239, 0.25);
            border-radius: 6px;
            padding: 16px 40px 16px 32px;
            cursor: pointer;
            @include screen_705 {
              display: none;
            }
            .basuraIcon {
              cursor: pointer;
              margin-left: 30px;
            }
            .data {
              display: flex;
              align-items: center;
              p {
                margin: 0;
              }
              img {
                height: 70px;
                width: 70px;
                margin-right: 32px;
              }
              div {
                max-width: 540px;
                font-weight: 700;
                font-size: 17px;
                line-height: 24px;
                .id {
                  color: #423b3c;
                  cursor: pointer;
                  span {
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 24px;
                    color: #878787;
                  }
                }
                .name {
                  margin-top: 8px;
                  font-weight: 700;
                  font-size: 17px;
                  line-height: 24px;
                  color: #423b3c;
                }
                .review {
                  margin-top: 8px;
                  font-style: italic;
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 28px;
                  color: #878787;
                }
              }
            }
            .rigthSide {
              display: flex;
              .monto {
                font-weight: 600;
                font-size: 17px;
                line-height: 23px;
                color: #423b3c;
                margin: 0 32px 0 0;
              }
              img {
                height: 22px;
                width: 18px;
                cursor: pointer;
                z-index: 999;
              }
            }
          }
          .mobileCard {
            display: none !important;
            background: #fdfeff;
            box-sizing: border-box;
            padding: 16px;
            max-width: 329px;
            min-width: 320px;
            display: flex;
            @include screen_705 {
              display: flex !important;
            }
            .productImg {
              height: 70px;
              width: 70px;
              margin-right: 16px;
              @include screen_389 {
                width: 100%;
                max-width: 70px;
                height: auto;
                max-height: 70px;
              }
            }
            .trashICon {
              position: relative;
              top: 6px;
              right: 6px;
              height: 16px;
              width: 14px;
            }
            div {
              max-width: 180px;
              min-width: 170px;
              p:not(:last-child) {
                margin-bottom: 8px;
              }
              p,
              span {
                margin: 0;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
              }
              .messageTitle,
              .messageDate {
                color: #878787;
              }
              .messageMessage {
                color: #423b3c;
              }
              .messageState {
                color: #443988;
              }
            }
          }
        }
      }
      .bottomContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        max-width: 895px;
        width: 100%;
        .returnLink {
          margin-top: 0;
        }
        .selectInput {
          div {
            color: #878787;
          }
        }
      }
    }
  }
}
