.caractContainer {
  margin-top: 40px;
  margin: 40px 72px 80px 72px;
  display: flex;
  justify-content: center;

  @include screen_705 {
    margin-top: 24px;
  }
  .container {
    margin-top: 8px;
    width: 100%;
    max-width: 1366px;
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 31px;
      color: #443988;
    }
    .subtitle {
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 17px;
      line-height: 28px;
      color: #878787;
      margin-left: 24px;
    }
    .errorBox {
      max-width: 758px;
      width: 100%;
    }
    .inputContainer {
      display: flex;
      max-width: 758px;
      width: 100%;
      flex-wrap: wrap;
      gap: 12px;
      @include screen_820 {
        flex-direction: column;
        align-items: center;
      }
      .inputBox {
        margin-top: 24px;
        width: 100%;
        max-width: 370px;
        @include screen_705 {
          margin-right: 0px;
          display: flex;
          flex-direction: column;
          margin-top: 8px;
        }
        /* .input:not(:last-child) {
          margin-right: 12px;
          @include screen_705 {
            margin-right: 0px;
          }
        } */
        .selectInput {
          color: #babcbe;
          box-sizing: border-box;
          height: 40px;
          width: 100%;
          max-width: 370px;
          font-style: italic;
          font-weight: 400;
        }
        .input {
          color: #423b3c;
          width: 100%;
          max-width: 370px;
          /*         @include screen_705 {
              width: calc(100% - 32px);
            } */
          input {
            box-sizing: border-box;
            height: 40px;
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
          }
        }
        .labelInput {
          font-size: 13px;
          font-weight: 600;
          margin-top: 0;
          margin-left: 12px;
          @include screen_705 {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      max-width: 758px;
      width: 100%;
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 36px;
        gap: 10px;
        width: 100%;
        max-width: 226px;
        height: 36px;
        background: #443988;
        border: 0;
        border-radius: 20px;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #ffffff;
        cursor: pointer;
      }
    }
    .returnLink {
      width: unset;
    }
  }
}
