.elegirTipoContainer {
  margin-top: 40px;
  margin: 40px 72px 80px 72px;
  display: flex;
  justify-content: center;
  @include screen_1366{
    max-width: 1222px;
    margin: 40px auto 80px;
  }
  @include screen_768 {
    margin: 40px 16px 65px 16px;
  }
  @include screen_705 {
    margin-top: 24px;
  }
  .container {
    margin-top: 8px;
    width: 100%;
    max-width: 1366px;
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 31px;
      color: #443988;
    }
    .subtitle {
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 17px;
      line-height: 28px;
      color: #878787;
      margin-left: 24px;
      @include screen_768 {
        display: block;
        margin-top: 24px;
        margin-left: 0;
      }
    }
    .subTypeSection {
      margin-top: 35px;
      max-height: 240px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @include screen_950 {
        max-height: 350px;
      }
      @include screen_768 {
        max-height: 470px;
      }
      @include screen_506 {
        max-height: 700px;
      }
      @include screen_360 {
        max-height: unset;
      }
      .subType {
        display: flex;
        margin-top: 24px;
        .radio {
          label {
            color: #babcbe;
          }
        }
        .notSelected {
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;
          color: #423b3c;
          cursor: pointer;
        }
        .selected {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;
          color: #443988;
          cursor: pointer;
        }
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 36px;
        gap: 10px;
        width: 100%;
        max-width: 226px;
        height: 36px;
        background: #443988;
        border: 0;
        border-radius: 20px;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #ffffff;
        cursor: pointer;
      }
    }
    .returnLink {
      width: unset;
    }
  }
}
