.elegirCatContainer {
  margin-top: 40px;
  margin: 40px 72px 80px 72px;
  display: flex;
  justify-content: center;
  @include screen_705 {
    margin-top: 24px;
  }
  .container {
    margin-top: 8px;
    width: 100%;
    max-width: 1366px;
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 31px;
      color: #443988;
    }
    .subtitle {
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 17px;
      line-height: 28px;
      color: #878787;
      margin-left: 24px;
    }
    .categorySections {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 12px;
      margin-top: 24px;
      @include screen_1190 {
        width: 100%;
      }
      /* @include screen_820 {
        margin-top: 24px;
        margin-bottom: 24px;
        gap: 6px;
      } */
      .section:first-child {
        .imgBox {
          @include screen_460 {
            width: 282px;
            height: 71px;
            border-radius: 6px;
            border: 1px solid #d9d9d9;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .section {
        cursor: pointer;
        .imgBox {
          width: 138px;
          height: 71px;
          border-radius: 6px;
          border: 1px solid #d9d9d9;
          display: flex;
          justify-content: center;
          align-items: center;
          @include screen_705 {
            flex-direction: column;
            height: 80px;
          }
        }
        .sectionTitleMobile {
          display: none;
          text-align: center;
          margin-top: 12px;
          font-weight: 700;
          font-size: 12px;
          line-height: 19px;
          color: #443988;
          @include screen_705 {
            display: block;
            margin: 8px 0px 0px 0px;
          }
        }
        .sectionTitle {
          text-align: center;
          margin-top: 12px;
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          color: #443988;
          @include screen_705 {
            display: none;
          }
        }
      }
    }
    .returnLink {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 150px;
      margin-top: 24px;
      p {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
      img {
        height: 7.94px;
        width: 4.24px;
        margin-right: 10px;
      }
    }
  }
}
