.seccionProductosCon {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  margin-bottom: 60px;
  .tiendaGrid {
    margin: 0 72px;
    @include screen_1450 {
      display: flex;
      justify-content: center;
    }
    @include screen_705 {
      font-size: 18px;
      line-height: 24px;
      margin: 0 16px;
    }
    .productContainer {
      max-width: 1366px;
      width: 100%;
      box-sizing: border-box;
      @include screen_705 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .firstLine {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 895px;
        width: 100%;
        margin-top: 60px;
        @include screen_705 {
          margin-top: 80px;
        }
        .title {
          font-style: normal;
          font-weight: 700;
          font-size: 23px;
          line-height: 31px;
          color: #443988;
          margin: 0;
          @include screen_705 {
            font-size: 16px;
            line-height: 21px;
          }
        }
        .discountLink {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          text-align: right;
          text-decoration-line: underline;
          color: #443988;
          cursor: pointer;
          @include screen_389 {
            width: 130px;
            text-align: center;
          }
        }
      }
      .productList {
        margin-top: 32px;
        .desktopCard {
          max-width: 895px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          background: #fdfeff;
          box-shadow: -10px -10px 30px rgba(223, 229, 239, 0.25),
            10px 10px 30px rgba(223, 229, 239, 0.25);
          border-radius: 6px;
          padding: 32px;
          @include screen_705 {
            display: none;
          }
          .basuraIcon {
            cursor: pointer;
          }
          .cardData {
            display: flex;
            align-items: center;
            p {
              margin: 0;
            }
            img {
              height: 70px;
              width: 70px;
              margin-right: 32px;
            }
            div {
              max-width: 387px;
              font-weight: 600;
              font-size: 17px;
              line-height: 24px;
              .title {
                font-weight: 600;
                font-size: 17px;
                line-height: 24px;
                color: #423b3c;

                &:hover {
                  text-decoration: underline;
                }
              }
              .state {
                font-weight: 600;
                font-size: 17px;
                line-height: 25px;
                color: #443988;
              }
              .discountLink {
                margin-top: 4px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                text-align: right;
                text-decoration-line: underline;
                color: #443988;
                cursor: pointer;
                @include screen_389 {
                  width: 130px;
                  text-align: center;
                }
              }
            }
          }
          .ofertaData {
            display: flex;
            .monto {
              margin: 0;
              font-weight: 600;
              font-size: 17px;
              line-height: 23px;
              color: #423b3c;
              margin-right: 32px;
            }
            img {
              height: 22px;
              width: 18px;
              cursor: pointer;
              z-index: 999;
            }
          }
        }
        .mobileCard {
          display: none !important;
          background: #fdfeff;
          box-sizing: border-box;
          padding: 16px;
          /* max-width: 329px;
          min-width: 320px; */
          display: flex;
          @include screen_705 {
            display: flex !important;
            justify-content: center;
          }
          .productImg {
            height: 70px;
            width: 70px;
            margin-right: 16px;
            @include screen_389 {
              width: 100%;
              max-width: 70px;
              height: auto;
              max-height: 70px;
            }
          }
          .trashICon {
            position: relative;
            top: 6px;
            right: 6px;
            height: 16px;
            width: 14px;
          }
          div {
            max-width: 180px;
            min-width: 170px;
            p:not(:last-child) {
              margin-bottom: 8px;
            }
            p,
            span {
              margin: 0;
              font-weight: 600;
              font-size: 12px;
              line-height: 18px;
            }
            .messageTitle,
            .messageDate {
              color: #878787;
            }
            .messageMessage {
              color: #423b3c;
            }
            .messageState {
              color: #443988;
            }
          }
        }
      }
      .buttonContainer {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        max-width: 895px;
        width: 100%;
        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px 36px;
          gap: 10px;
          width: 100%;
          max-width: 226px;
          height: 36px;
          background: #443988;
          border: 0;
          border-radius: 20px;
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.05em;
          color: #ffffff;
          cursor: pointer;
        }
      }
      .bottomSection {
        /* margin-bottom: 80px; */
        @include screen_705 {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
        }
        .bottomOptions :not(:last-child) {
          margin-bottom: 16px;
        }
        .bottomOptions {
          display: inline-grid;
          button {
            display: inline-block;
            text-align: left;
            border: 0;
            background-color: transparent;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #878787;
            cursor: pointer;
            @include screen_705 {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
