.popUpOferta{
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    img{
        width: 35px;
    }
    .titleOferta{
        margin-top: 8px !important;
        line-height: 22px !important;
        font-size: 16px !important;
        color: #423B3C !important;
    }
    .titleOfertaInput{
        font-size: 16px !important;
        line-height: 22px !important;
        color: #423B3C !important;
        margin-bottom: 8px !important;
    }
    .ofertaInput{
        margin-top: 0px !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        width: 120px !important;
        height: 40px !important;
        margin-bottom: 16px !important;
    }
    .titleCommentInput{
        font-size: 16px !important;
        line-height: 22px !important;
        color: #423B3C !important;
        margin-bottom: 8px !important;
    }
    .commentInput{
        margin-top: 0px !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        line-height: 16px !important;
    }
    .cancelar{
        padding: 0px 48px;
        width: 207px;
        height: 36px;
        border: 0.5px solid #443988;
        filter: drop-shadow(0px 2px 6px rgba(66, 65, 67, 0.1));
        border-radius: 20px;
        margin-top: 24px !important;
        margin-bottom: 32px !important;
    }
    .oferta{
        padding: 0px 48px;
        width: 207px;
        height: 36px;
        background: #443988;
        color: white;
        box-shadow: 0px 2px 6px rgba(66, 65, 67, 0.1);
        border-radius: 20px;
        margin-left: 16px !important;
        margin-top: 24px !important;
        margin-bottom: 32px !important;
        &:hover{
            background: #443988;
        }
    }
    .ofertaDisabled{
        padding: 0px 48px;
        width: 207px;
        height: 36px;
        background: #8883ac;
        color: #c0bfca !important;
        box-shadow: 0px 2px 6px rgba(66, 65, 67, 0.1);
        border-radius: 20px;
        margin-left: 16px !important;
        margin-top: 24px !important;
        margin-bottom: 32px !important;
    }
}