.loginValidationContainer{
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 32px;
    margin-bottom: 80px;
    @include screen_705{
        margin: 32px 0px 0px 0px;
        padding: 0 16px;
    }
    @include screen_601{
        margin: 0;
    }
}

@import "./boxLoginValidate.scss";