.formCheckout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .firstLine{
        width: 100%;
        display: flex;
        justify-content: space-around;
        @include screen_601{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .margenInput{
            margin-bottom: 24px;
            width: 50%;
            @include screen_601{
                width: 100%;
                text-align: center;
            }
        }
        .margenInputEspecial{
            padding-right: 12px;
            @include screen_601{
                padding-right: 0px;
                width: 100%;
                text-align: center;
            }
        }
        .checkDirecc{
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: start;
            color: #878787;
            margin: 16px;
            margin-left: 0px;
        }
    }
    .inputForm{
        font-style: italic;
        font-weight: 400;
        color: #BABCBE;
        font-size: 14px;
        width: 100%;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 0.5px solid #878787;
        border-radius: 4px;
        @include screen_601{
            max-width: 328px;
            font-size: 13PX;
        }
        div{
            height: 40px;
        }
    }
    .inputFormEspecial{
        font-style: italic;
        font-weight: 400;
        color: #BABCBE;
        font-size: 14px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 0.5px solid #878787;
        border-radius: 4px;
        div{
            height: 40px;
        }
    }
    .selector{
        div{
            display: flex;
            align-items: center;
        }
    }
    .contenedorTextarea{
        @include screen_601{
            max-width: 328px;
            width: 100%;
        }
        .textarea div{
            height: 88px;
            textarea{
                position: relative;
                top: 5px;
            }
        }
    }
    .labelForm{
        font-weight: 600;
        font-size: 13px;
        text-indent: 16px;
        color: #423B3C;
        margin-bottom: 8px;
        @include screen_601{
            text-indent: 0px;
        }
        @include screen_360{
            text-align: start;
        }
    }
    .subLabelForm{
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        align-items: center;
        color: #878787;
        margin-top: 8px;
        text-indent: 9px;
        @include screen_601{
            font-size: 12px;
            text-align: center;
            text-indent: 0px;
        }
    }
    .AlturaPisoDepto{
        display: flex;
        @include screen_601{
            justify-content: center;
            align-items: center;
        }
        .inputs{
            margin: 0px 6px;
            max-width: 128px;
        }
    }
    .codPostalContainer{
        justify-content: flex-start;
        align-items: center;
        @include screen_601{
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .codPostal{
            width: 176px;
            @include screen_601{
                width: 100%;
                max-width: 170px;
            }
            .inputForm{
                @include screen_601{
                    max-width: 170px;
                    width: 100%;
                }
            }
        }
        a{
            margin-left: 12px;
            margin-top: 16px;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            text-indent: 16px;
            text-decoration-line: underline;
            color: #443988;
            @include screen_601{
                margin-left: 16px;
                text-indent: 0px;
                margin-top: 24px;
            }
        }
    }
    .botonEnvio{
        margin-top: 58px;
        width: 200px;
        text-align: center;
        background: #443988;
        border: 1px solid #443988;
        box-shadow: 0px 0px 6px rgba(66, 65, 67, 0.1);
        border-radius: 20px;
        @include screen_601{
            margin-top: 16px;
        }
        button{
            color: #FFFFFF;
            width: 100%;
        }
    }
    .errorBox{
        width: 100%;
        margin: 12px 0px;
        display: flex;
        align-items: center;
        background: #FDFEFF;
        border: 1px solid #BABCBE;
        box-shadow: -10px -10px 30px rgba(223, 229, 239, 0.25), 10px 10px 30px rgba(223, 229, 239, 0.25);
        border-radius: 6px;
        .cruz{
            font-size: 24px;
            margin-left: 32px;
            margin-right: 24px;
        }
        p{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #878787;
        }
    }
    .formObligatorio{
        border: 0.5px solid red !important;
        border-radius: 4px !important;
    }
    .formObligatorioTitle{
        color: #FF3F20 !important;
    }
    .formObligatorioTitle ~ div{
        border: none !important;
    }
    .botonContinuar{
        border: 1px solid #443988;
        background: #443988;
        filter: drop-shadow(0px 0px 6px rgba(66, 65, 67, 0.1));
        border-radius: 20px;
        padding: 10px 32px;
        color: #FFFFFF !important;
        margin-top: 48px;
        &:hover{
            background-color: #443988;
        }
    }
    .botonContinuarDisabled{
        border: 1px solid #998edb;
        background: #998edb;
        filter: drop-shadow(0px 0px 6px rgba(66, 65, 67, 0.1));
        border-radius: 20px;
        padding: 10px 32px;
        color: #FFFFFF !important;
        margin-top: 48px;
        &:hover{
            background-color: #998edb;
        }
    }
}

.selectorDireccion{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @include screen_601{
        align-items: center;
    }
    .selectorContainer{
        margin-bottom: 24px;
        label{
            margin: 0px;
        }
    }
}

.contenedorDirecciones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    @include screen_601{
        justify-content: center;
    }
    .cards{
        width: 48%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #FDFEFF;
        box-shadow: -10px -10px 30px rgba(223, 229, 239, 0.25), 10px 10px 30px rgba(223, 229, 239, 0.25);
        border-radius: 6px;
        margin: 6px;
        @include screen_664{
            width: 46%;
        }
        @include screen_601{
            width: 80%;
        }
        .labelForm{
            text-indent: 0px;
            color: #878787;
            font-weight: 600;
            font-size: 13px;
            line-height: 21px;
            margin-right: 24px;
            max-height: 111px;
            min-height: 60px;
            @include screen_664{
                margin-right: 12px;
            }
        }
        span{
            margin-left: 24px;
            margin-right: 24px;
        }
        span span{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}