.formCheckout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .firstLine{
        width: 100%;
        display: flex;
        justify-content: space-around;
        @include screen_601{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .margenInput{
            margin-bottom: 24px;
            width: 50%;
        }
        .margenInputEspecial{
            padding-right: 12px;
        }
    }
    .inputForm{
        font-style: italic;
        font-weight: 400;
        color: #BABCBE;
        font-size: 14px;
        width: 100%;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 0.5px solid #878787;
        border-radius: 4px;
    }
    .inputFormEspecial{
        font-style: italic;
        font-weight: 400;
        color: #BABCBE;
        font-size: 14px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 0.5px solid #878787;
        border-radius: 4px;
    }
    .textarea{
        max-width: 758px;
    }
    .labelForm{
        font-weight: 600;
        font-size: 13px;
        text-indent: 16px;
        color: #423B3C;
    }
    .subLabelForm{
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        align-items: center;
        color: #878787;
        margin-top: 8px;
        text-indent: 9px;
    }
    .AlturaPisoDepto{
        display: flex;
        .inputs{
            margin: 0px 6px;
        }
    }
    .codPostalContainer{
        justify-content: flex-start;
        align-items: center;
        .codPostal{
            width: 176px;
        }
        a{
            margin-left: 12px;
            margin-top: 16px;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            text-indent: 16px;
            text-decoration-line: underline;
            color: #443988;
        }
    }
    .botonEnvio{
        margin-top: 58px;
        width: 200px;
        text-align: center;
        background: #443988;
        border: 1px solid #443988;
        box-shadow: 0px 0px 6px rgba(66, 65, 67, 0.1);
        border-radius: 20px;
        button{
            color: #FFFFFF;
            width: 100%;
        }
    }
}