.FAQPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 64px;
  @include screen_705 {
    padding: 30px 16px;
  }
  @include screen_601 {
    padding: 0px 16px;
  }
  .FAQBody {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1366px;
    width: 100%;
    @include screen_705 {
      margin-top: 16px;
      margin-bottom: 50px;
      width: 100%;
    }
    
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 31px;
      color: #443988;
      margin-bottom: 0;
      @include screen_705 {
        font-size: 16px;
        line-height: 22px;
        min-width: 140px;
      }
    }

    .Questions {
      margin-top: 32px;
      .accordion {
        box-shadow: none !important;
        padding: 0px 72px;
        border-bottom: 0.1px solid #BABCBE !important;
      }
    }
    .returnLink {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 150px;
      margin-top: 24px;
      color: #443988;
      p {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
      img {
        height: 7.94px;
        width: 4.24px;
        margin-right: 10px;
      }
    }
  }
}

.MuiAccordionSummary-content {
  .css-1qur8cn-MuiTypography-root {
    padding: 10px 20px 10px 20px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #878787;
    padding-left: 0px !important;
  }
}

.Questions{
  .css-pwcg7p-MuiCollapse-root {
  padding: 0px 20px !important;
  p {
    margin-bottom: 8px !important;
  }
  .questionTitle {
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    color: #878787 !important;
  }
  .answerText {
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    color: #878787 !important;
    a {
      text-decoration: none !important;
    }
  }
}

.Questions{
  div .MuiCollapse-root{
    padding: 0px 20px !important;
    p {
      margin-bottom: 8px !important;
    }
    .questionTitle {
      font-family: "Open Sans" !important;
      font-weight: 600 !important;
      font-size: 13px !important;
      line-height: 20px !important;
      color: #878787 !important;
    }
    .answerText {
      font-family: "Open Sans" !important;
      font-weight: 400 !important;
      font-size: 13px !important;
      line-height: 20px !important;
      color: #878787 !important;
      a {
        text-decoration: none !important;
      }
  }
  }
}
}