.restorePasswordPopUp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
  .fondoPopUp {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  .popUp {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 16px;
    margin-top: 127px;
    z-index: 99999;
    position: relative;
    width: 432px;
    padding: 24px;
    @include screen_705 {
      padding: 32px 16px 24px 16px;
    }
    .popUpContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include screen_705 {
          flex-direction: column-reverse;
        }
      }
      .logoModal {
        height: 32px;
        width: 32px;
        margin-bottom: 8px;
      }
      .popUpTextField {
        width: 100%;
        border-radius: 8px;
        margin-top: 24px;
        color: #babcbe;
        border-color: 1px solid #d9d9d9;
        @include screen_705 {
          margin-top: 8px;
        }
      }
      .popUpTitle {
        font-size: 16px;
        font-weight: 700;
        color: #423b3c;
        margin: 0;
        text-align: center;
      }
      .popUpDescription {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 0px;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        color: #878787;
        .spanLink {
          color: #443988;
          text-decoration: underline;
        }
      }
      .volver {
        background: #ffffff;
        border-radius: 20px;
        padding: 0px 69px;
        color: #443988;
        font-size: 13px;
        border: 1px solid #443988;
        margin-right: 8px;
        margin-top: 24px;
        height: 32px;
        width: 208px;
        @include screen_705 {
          margin-right: 0;
          margin-top: 8px;
          border: 0;
          text-decoration: underline;
        }
      }
      .recordar {
        background: #443988;
        border-radius: 20px;
        font-size: 13px;
        padding: 0px 69px;
        color: #ffffff;
        margin-left: 8px;
        margin-top: 24px;
        height: 32px;
        width: 208px;
        @include screen_705 {
          margin-left: 0;
          margin-top: 16px;
        }
      }
      .continuar {
        background: #443988;
        border-radius: 20px;
        font-size: 13px;
        padding: 0px 69px;
        color: #ffffff;
        margin-left: 8px;
        margin-top: 24px;
        height: 32px;
        width: 208px;
        @include screen_705 {
          margin-right: 0;
          margin-top: 16px;
        }
      }
      .cruz {
        position: absolute;
        top: 0;
        margin-right: 8px;
        margin-top: 8px;
        right: 0;
        cursor: pointer;
      }
    }
  }
  .subLabelForm {
    font-weight: 400;
    font-size: 13px;
    align-items: center;
    color: #ff3f20;
    margin-top: 8px;
    @include screen_601 {
      font-size: 12px;
      text-align: start;
      text-indent: 0px;
    }
  }
}
