.registerContainer{
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 32px;
    /* height: 100vh; */
    margin-bottom: 80px;
    @include screen_601{
        margin: 0;
        padding: 0 16px;
    }
}

@import "./boxRegister.scss";
