body {
  overflow-x: hidden;
}

.slick-slider {
  max-width: 1230px;
}

.slick-list {
  margin: 0 20px;
}

.slick-slide > div {
  padding: 0 20px;
}

.buttonSlidePrev {
  width: 40px;
  height: 40px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50px;
  position: absolute;
  z-index: 10;
  left: 5px;
  border: none;
  top: calc(50% - 80px);
  cursor: pointer;
}

.buttonSlideNext {
  width: 40px;
  height: 40px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50px;
  position: absolute;
  z-index: 10;
  border: none;
  right: 5px;
  bottom: calc(50% - -40px);
  cursor: pointer;
}
