body {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

.slick-slider {
  max-width: 1230px;
}

.slick-list {
  margin: 0 20px;
}

.slick-slide > div {
  padding: 0 20px;
}

.buttonSlidePrev {
  width: 40px;
  height: 40px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50px;
  position: absolute;
  z-index: 10;
  left: 5px;
  border: none;
  top: calc(50% - 80px);
  cursor: pointer;
}

.buttonSlideNext {
  width: 40px;
  height: 40px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50px;
  position: absolute;
  z-index: 10;
  border: none;
  right: 5px;
  bottom: calc(50% - -40px);
  cursor: pointer;
}

.css-tguw8w-MuiCardContent-root:last-child {
  padding-top: 5px;
  padding-bottom: 5px !important;
}

.onboarding.slick-slider {
  max-width: 1000px !important;
}

.onboarding .slick-current {
  width: 260px !important;
}

.css-1o3vxtg {
  overflow: hidden;
}

.toolbar-download {
  min-height: 40px !important;
}

@media (max-width: 1000px) {
  .slick-slider {
    max-width: 950px;
  }
}

@media (max-width: 768px) {
  .slick-slide > div {
    padding: 0 20px;
  }
  .slick-slider {
    max-width: 600px;
  }
}

@media (max-width: 360px) {
  .slick-slide > div {
    padding: 0 3px;
  }
  .slick-slider {
    max-width: 335px;
  }
  .css-tguw8w-MuiCardContent-root:last-child {
    padding-top: 1px;
    padding-bottom: 1px !important;
  }

  .css-46bh2p-MuiCardContent-root {
    padding-left: 10px !important;
  }
}
