.screen1000-banner{
    @include screen_1000{
        margin: 24px 12px !important;
    }
}
.screen1000-codigo{
    @include screen_1000{
        margin: 8px 0px !important;
    }
}
.screen1000-bannerCheck{
    @include screen_1000{
        display: block !important;
    } 
}
.screen1000-bannerCheckMobile{
    @include screen_1000{
        display: none !important;
    } 
}