@import "./variables.scss";
@import "./mixins.scss";
@import "./screen1000.scss";

@import "./carrito/carrito.scss";
@import "./carrito/resumeBox.scss";
@import "./form/formGeneral.scss";
@import "./form/metodoEnvio.scss";
@import "./form/tarjeta.scss";
@import "./form/checkForm.scss";

.Breadcrumbs{
    margin-left: 74px;
    margin-top: 56px;
    @include screen_768{
        margin-left: 32px;
    }
    @include screen_601{
        margin-left: 16px;
        margin-top: 16px;
    }
}
.TituloCartCheck{
    font-family: $fontFamily;
    font-size: 25px;
    font-weight: 700;
    color: #443988;
    margin-top: 0px;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
.spinnerG {
  width: 36px;
  height: 36px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: #7d47ff;
  animation: spin 1s ease infinite;
}
.spinnerM {
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: #7d47ff;
  animation: spin 1s ease infinite;
}
.spinnerS {
  width: 10px;
  height: 10px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: #7d47ff;
  animation: spin 1s ease infinite;
}
.spinnerWhite{
  border-left-color: #dbd2f0 !important;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}