@import "./variables.scss";
@import "./mixins.scss";
@import "./screen1000.scss";

@import "./carrito/carrito.scss";
@import "./carrito/resumeBox.scss";
@import "./form/formGeneral.scss";
@import "./form/metodoEnvio.scss";
@import "./form/tarjeta.scss";
@import "./form/checkForm.scss";

.Breadcrumbs{
    margin-left: 74px;
    margin-top: 56px;
    @include screen_768{
        margin-left: 32px;
    }
    @include screen_601{
        margin-left: 16px;
        margin-top: 16px;
    }
}
.TituloCartCheck{
    font-family: $fontFamily;
    font-size: 25px;
    font-weight: 700;
    color: #443988;
    margin-top: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}